*{
  margin:0;
  padding:0;
}
body{
  background-color: white;
}
.bg-img{
  background-image: url("images/spahead.jpg");
  min-height:900px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

}

.container{

  width: 100%;



}
.quote ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
.quote h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: 25%;
font-size: 150px;
text-align: center;
width: 100%;
  position: absolute;


}
#menu{
display:none;

}

#links{
  display: block;
}
.w1 {

opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
animation-fill-mode: forwards;


        }

.w2{
opacity: 0;
   -webkit-animation: fadein2 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein2 4s; /* Firefox < 16 */
      -ms-animation: fadein2 4s; /* Internet Explorer */
       -o-animation: fadein2 4s; /* Opera < 12.1 */
          animation: fadein2 4s;
        animation-delay: 2s;
      animation-fill-mode: forwards;}

  .w3{

opacity: 0;
     -webkit-animation: fadein3 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein3 6s; /* Firefox < 16 */
        -ms-animation: fadein3 6s; /* Internet Explorer */
         -o-animation: fadein3 6s; /* Opera < 12.1 */
            animation: fadein3 6s;
          animation-delay: 4s;
        animation-fill-mode: forwards;}
@keyframes fadein {

    from { opacity: 0; }
    to   {
      opacity: 1; }
}
@keyframes fadein2 {

    from { opacity: 0; }
    to   {

      opacity: 1; }
}
@keyframes fadein3 {

    from { opacity: 0; }
    to   {

      opacity: 1; }
}











.middle{
  position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);

}
.scroll-ind{
  width: 25px;
  height: 45px;
  border:4px solid white;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.scroll-ind:hover{
  transform: scale(1.1);
}

.scroll-ind::before{
content:"";
width: 10px;
height:10px;
position: absolute;
top:10px;
background: white;
left: 50%;
transform: translateX(-50%);
border-radius:50%;
opacity: 1;
animation: scroll-ind 2s infinite;

}

@keyframes scroll-ind {
  from{
    opacity: 1;
    top:10px;
  }
  to{
    opacity: 0;
    top:30px;
  }
}
.topnav{
  overflow:hidden;
  display: flex;
z-index: 1;
justify-content: space-around;
align-items: center;
padding: 40px;
position: fixed;
width: 100%;
  }

.topnav a{


font-family: 'Montserrat', sans-serif;
  color: white;

  text-align: center;
  padding: 14px 40px;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  position: fixed;
flex: 1;
}


.topnav img{

width:274.5px;
height:61.5px;

}


.topnav a{
  position: relative;
  color: white;
  text-decoration: none;
}

.topnav a:before {

  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}

.topnav a:hover:before {

  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


@media all and (max-width: 1455px) {
.quote h2{
  font-size: 100px;
}
}

@media all and (max-width: 973px) {
.quote ul{
  display: flex;
flex-direction: column;
}
}

@media all and (max-width : 1195px){

  .topnav a{
  display: none;
  }
  #menu{
    display: block;
    font-size: 30px;
  }

}



.topnav.scrolled {
  background-color: #fff !important;
  transition: background-color 350ms linear;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.topnav.scrolled a{
  color: black;
}




.topnav.scrolled a:before {

  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}

.topnav.scrolled a:hover:before {

  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.changeColor{
  background-color: green;
}
.headtitle {
    font-family: 'Montserrat', sans-serif;

width: 60%;
  padding: 10px;
    text-align: center;
margin-top: 10%;
}
.headtitle p{
  margin-top: 3%;
}
.container{
width: 100%;
  display: flex;
  justify-content: center;
}
.prices-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
}
.prices{
  width: 60%;
  padding: 10px;
    text-align: center;
}
.prices-container h2{
  font-size: 25px;
}
.prices-container table{
margin-top: 3%;
display: flex;
justify-content: flex-start;
}
.prices-container th{
padding-top: 3%;
padding-bottom: 3%;
}
.prices-container td{
padding-left: 300px;
padding-top: 20px;
}
.spacer{width: 100%;
padding: 40px;
background-color: red;}
